main {
  background-color: hsl(0, 0%, 75%);
}

.urlfeature {
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
}

#form {
  position: relative;
  bottom: 50%;
  background-image: url("../../images/bg-shorten-desktop.svg");
  background-color: hsl(257, 27%, 26%);
  padding: 2rem 2.5rem;
  width: 850px;
  display: flex;
  justify-content: center;
}

#form__input {
  width: 65%;
  padding: 0.7rem;
  margin: 0 0.8rem;
}

#form__button {
  width: 15%;
  padding: 0.7rem;
  background-color: hsl(180, 66%, 49%);
  border: 1px solid hsl(180, 66%, 49%);
  color: white;
  border-radius: 5px;
}

.card{
    display: grid;
    grid-template-columns: auto auto;
    background-color: whitesmoke;
    margin: 0 0 1rem;
    padding: 0.01rem 1rem;
    justify-content: space-between;
    align-items: center;
    font-size: 1.1rem;
    border-radius: 5px
}

.card__long-url-title{
    color: hsl(0, 0%, 37%)
}

.card__aside{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.aside__short-url-title{
    margin: 0 1rem;
    color: hsl(180, 66%, 49%);
}

.aside__copy-button{
    background-color: hsl(180, 66%, 49%);
    padding: 0.4rem 1.5rem;
    color: whitesmoke;
    border: 1px solid hsl(180, 66%, 49%);
    border-radius: 4px
}


.statistics {
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  position: relative;
  margin: 6rem 0 2rem;
  padding-bottom: 8rem
}

.statistics__header {
  text-align: center;
  width: 60%;
  margin: 0 auto
}

.statistics__header-title {
  font-size: 2.05rem;
  margin: 0;
}

.statistics__header-sub-title {
  font-size: 1rem;
  color: hsl(0, 0%, 37%);
  width: 57%;
  margin: 0.7rem auto 0;
  line-height:  1.5rem;
}

.statistics__cards {
  display: flex;
  margin: 5rem 10rem;
  align-items: center;
  justify-content: center;
}

.statistics__card {
  background-color: whitesmoke;
  height: 100%;
  width: 100%;
  margin: 0 0.8rem;
  padding: 0 2rem 0.9rem;
}

.statistics__cards::before{
  content: "";
  background-color: hsl(180, 66%, 49%);
  width: 40%;
  height: 1.2%;
  position: absolute;
  top: 19.8rem;
  right: 20rem
}

.statistics__card--one-step{
  transform: translateY(2rem)
}

.statistics__card--two-steps{
  transform: translateY(4rem)
}

.statistics__card-icon--modified {
  background-color: hsl(257, 27%, 26%);
  border-radius: 50%;
  height: 14%;
  transform: translateY(-2rem);
  padding: 1rem
}

.statistics__card-title {
  font-size: 1rem;
  margin: 0;
}

.statistics__card-description {
  font-size: 0.85rem;
  color:hsl(0, 0%, 37%)
}

.cta{
  display: grid;
  justify-content: center;
  padding: 2rem 0;
  background-image: url("../../images/bg-boost-desktop.svg");
  background-color: hsl(257, 27%, 26%);
}

.cta__title{
  font-size: 2rem;
  margin: 0;
  color: whitesmoke;
}

.cta__button{
  background-color: hsl(180, 66%, 49%);
  padding: 0.6rem 2rem;
  color: whitesmoke;
  border: 1px solid hsl(180, 66%, 49%);
  border-radius: 20px;
  margin: 1rem auto 0
}

.footer {
  display: grid;
  grid-template-columns: 20% auto auto auto auto;
  align-items: center;
  gap: 1rem;
  padding: 5rem 2rem;
  background-color: hsl(260, 8%, 14%);
  color: whitesmoke;
}

.footer_section {
  display: grid;
  grid-template-columns: auto;
  align-self: start; /* Align content to the top */
}

.footer_section-logo {
  margin: 2rem 0;
  filter: brightness(0) invert(1);
}

.footer__section-list-title {
  font-size: 1rem
}

.footer__section-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer__section-list-item{
  margin: 0.5rem 0
}

.footer__section-list-item a {
  text-decoration: none;
  color: whitesmoke;
  font-size: 0.8rem;
}

.footer__section-list-item a:hover {
  color: hsl(180, 66%, 49%);
}

.footer__section-socials {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 2.5rem 0 0
}

.footer__section-socials-item {
  margin: 0 0.8rem;
}

.footer__section-socials-icons {
  height: 20px;
}
